*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
}
.toUpper{
  text-transform: uppercase;
}

/* ************** NAVBAR STYLES************* */

#bCotizar{
  border: 0px inset transparent;
  border-radius: 50px;
  background-color: #FA5D5D;
  padding:  0 1rem;
  margin-top: 0.5rem;
 

}
#navBrand{
  padding-left:  4rem;
  
  
}
.bgBrand{
  background-color: #CA1662;

}


#navElements{
  background-color: rgba(255, 255, 255, 0.8);
  /* background-color: green; */  
}
.metardi{
  padding-right: 10rem;
}

.delimit{
  border: 2px solid red; 

}
.test{
  background-color: #CA1662;
}
#bloque{
  display: block;
  overflow: hidden;
}
#navFlex{
  display: flex;
  justify-content: space-around;
}



.carousel-inner{
  margin: 0 auto;
}
/* **************** PRODUCTS STYLES ***************** */
#moreButton{
  background-color: #CA1662;
  border: 1px solid transparent;

}
#cardsD{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#CardsProduct{
  padding-top: 5%;
 }
 #noBullet{
  list-style: none;
 }
 .bgGr{
  background-color: #F9F9F9;
 }
 #prods{
  padding-bottom: 2rem;
 }
 #details{
  padding-top: 1.5rem;
 }

/********* ABOUT STYLES*********** */

.about {
  padding: 3rem 2rem 0 2rem;
}


 /******* MULTI SLIDE STYLES *********/
.multiSlide h3{
text-align: center;
padding: 2rem;
}
.multiSlide{
  padding-bottom: 3rem;
}

/******* FOOTER STYLES *********/
footer{
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
#footerlogos img{
padding: 1rem;
}


/* /////////////// SCREEEN S-M VERSION/////////////////// */

@media(max-width: 768px) { 
  body{
    font-size: 12px;
  }
  .hideOnMobile{
    display: none;
  }
  #bloque{
    display: inline-block;
  
  }
  #navBrand{
    padding-left: 1rem;
    
  }


 } 